.container {
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    gap: 20px;
  }
  
  
  .image-section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
  }
  
  .image-section img {
    height: 300px;
    object-fit: cover;
  }
    